
<div class="ice_main_section1">
	<div class="container">
		<div class="row">
			<div class="ice_about_wrapper wow slideleft">
				<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
					<div class="ice_about_Section">
						<h1 class="ice_heading">Something About Ice Creame</h1>
						<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the World of Grammar.</p>
						<p>
							<i>
								Indulging in ice cream is like a delightful journey through a frosty wonderland. With each scoop, creamy goodness tantalizes the taste buds, sending shivers of pleasure down your spine. Whether it's the classic vanilla bean or an exotic mango sorbet, there's a flavor for every craving. Topped with a swirl of whipped cream or a sprinkle of nuts, it becomes
								a masterpiece of sweetness. Sharing a cone with loved ones under the sun or savoring a bowl alone, ice cream creates moments of pure bliss.
							</i>
						</p>
						<ul>
							<li>
								<div class="pull-left">
									<i class="flaticon-ice-cream-1"></i>
								</div>
								<div class="pull-left">
									<p><i>Fresh Ice Cream</i></p>
								</div>
							</li>
							<li>
								<div class="pull-left">
									<i class="flaticon-ice-cream-1"></i>
								</div>
								<div class="pull-left">
									<p><i>Fresh Ice Cream</i></p>
								</div>
							</li>
							<li>
								<div class="pull-left">
									<i class="flaticon-ice-cream-1"></i>
								</div>
								<div class="pull-left">
									<p><i>Fresh Ice Cream</i></p>
								</div>
							</li>
							<li>
								<div class="pull-left">
									<i class="flaticon-ice-cream-1"></i>
								</div>
								<div class="pull-left">
									<p><i>Fresh Ice Cream</i></p>
								</div>
							</li>
							<li>
								<div class="pull-left">
									<i class="flaticon-ice-cream-1"></i>
								</div>
								<div class="pull-left">
									<p><i>Fresh Ice Cream</i></p>
								</div>
							</li>
							<li>
								<div class="pull-left">
									<i class="flaticon-ice-cream-1"></i>
								</div>
								<div class="pull-left">
									<p><i>Fresh Ice Cream</i></p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="overlap_img">
					<img src="~/images/about/about.png" alt="">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ice_main_section1">
	<div class="container">
		<div class="row">
			<div class="col-lg- col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-0 col-sx-offset-0">
				<div class="heading_wrapper text-center wow slidedown">
					<h1 class="ice_heading">our history</h1>
					<p>Embark on a journey through our storied past, where passion, innovation, and dedication have shaped our legacy in the world of desserts.</p>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="ice_timeline">
					<ul class="timeline">
						<li>
							<div class="timeline_wrapper directionl wow slideleft">
								<div class="timeline_heading">
									<h2 class="ice_sub_heading">We started Our Business</h2>
									<h1>1990</h1>
								</div>
								<p>With a vision in our hearts and determination in our souls, we embarked on our entrepreneurial journey, eager to share our passion for exceptional desserts with the world. From humble beginnings, we laid the foundation of our business, fueled by ambition and a commitment to excellence.</p>
							</div>
						</li>
						<li>
							<div class="timeline_wrapper directionr wow slideright">
								<div class="timeline_heading">
									<h2 class="ice_sub_heading">We Got Boast Iin Our Business</h2>
									<h1>1995</h1>
								</div>
								<p>Confidence exudes from every aspect of our business, backed by a legacy of excellence and a commitment to exceeding expectations. Our unrivaled expertise, unparalleled quality, and unwavering dedication set us apart, ensuring that every experience with us is nothing short of exceptional.</p>
							</div>
						</li>
						<li>
							<div class="timeline_wrapper directionl wow slideleft">
								<div class="timeline_heading">
									<h2 class="ice_sub_heading">Our Ice Cream is becoming People's Favourite</h2>
									<h1>2000</h1>
								</div>
								<p>"Our ice cream is capturing hearts and taste buds alike, earning its place as the people's favorite indulgence. With each creamy spoonful, we're creating a sweet symphony of satisfaction that keeps our customers coming back for more. From classic flavors to daring combinations, our commitment to quality and flavor ensures a delightful experience every time."</p>
							</div>
						</li>
						<li>
							<div class="timeline_wrapper directionr wow slideright">
								<div class="timeline_heading">
									<h2 class="ice_sub_heading">We started Working World Wide</h2>
									<h1>2012</h1>
								</div>
								<p>Expanding our reach to every corner of the globe, we've embarked on a journey to bring our delectable creations to dessert enthusiasts worldwide. With a commitment to excellence and a passion for spreading joy through food, our brand has embraced the opportunity to serve diverse cultures and palates.</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
