

<div class="ice_main_section1">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-8 col-sm-12 col-xs-12">
				<div class="ice_faq_wrapper">
					<h1 class="text-center " style=" margin-bottom: 20px;"> Frequently Asked Questions (FAQs)</h1>
					<div class="panel-group" id="accordion">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true">
										What flavors of ice cream recipes can I find in your book?</i><span class="open_faq"></span>
									</a>
								</h4>
							</div>
							<div id="collapse1" class="panel-collapse collapse in">
								<div class="panel-body">
									<p>
									Our recipe book features a wide array of flavors to suit every palate, including classic favorites like vanilla and chocolate, as well as unique options such as salted caramel, mint chocolate chip, strawberry cheesecake, and more.
									</p>
									@* <ul>
										<li>insurance companies</li>
										<li>if you are involved in a court case, your health records can be subpoenaed and available to the public</li>
										<li>government agencies especially if you receive medicare, medicaid, schip, ssi, workers comp or any local, state or federal assistance</li>
										<li>transcribers in and outside the u.s.</li>
										<li>many health websites collect information about you</li>
										<li>drug companies</li>
										<li>banks, financial institutions</li>
									</ul> *@
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
										Are your ice cream recipes suitable for specific dietary needs?</i><span class="open_faq"></span>
									</a>
								</h4>
							</div>
							<div id="collapse2" class="panel-collapse collapse">
								<div class="panel-body">
									<p>
										Yes, we strive to provide options for various dietary preferences and restrictions. Our recipes include dairy-free alternatives, low-sugar options, and even vegan-friendly recipes made with plant-based ingredients.
									</p>
									
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
										Are your recipes easy to follow, even for beginners?<span class="open_faq"></span>
									</a>
								</h4>
							</div>
							<div id="collapse3" class="panel-collapse collapse">
								<div class="panel-body">
									<p>
										Yes, we understand the importance of simplicity in creating homemade ice cream. Our recipes are designed with clear, step-by-step instructions to guide both novice and experienced home cooks through the process, ensuring successful results every time.
									</p>
								
								</div>
							</div>
						</div>


						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
										How do your recipes prioritize health without compromising on taste?<span class="open_faq"></span>
									</a>
								</h4>
							</div>
							<div id="collapse4" class="panel-collapse collapse">
								<div class="panel-body">
									<p>
										Our recipes strike a balance between health and indulgence by using nutritious ingredients without sacrificing flavor. We incorporate natural sweeteners, like honey or maple syrup, and utilize healthier fats, such as coconut oil or avocado, to create creamy and satisfying ice cream without excessive sugars or additives.
									</p>

								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
										Do your recipes include nutritional information?<span class="open_faq"></span>
									</a>
								</h4>
							</div>
							<div id="collapse5" class="panel-collapse collapse">
								<div class="panel-body">
									<p>
										Yes, we provide basic nutritional information for each recipe, including approximate calorie counts, macronutrient breakdowns, and serving sizes, to help you make informed choices about your dietary intake. 
									</p>

								</div>
							</div>
						</div>

					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

